$navbar: #3e4454;
$green-btn: #30d380;
$green: #34d399;
$main: #f8fafc;
$footer: #1e293b;
$yellow: #ebb40b;
$grey: #858b95;

$autoquiray-colors: (
    "navbar": $navbar,
    "green-btn": $green-btn,
    "main": $main,
    "purple": $purple,
    "blue": $blue,
    "orange": $orange,
    "footer": $footer,
    "green": $green,
    "yellow": $yellow,
    "grey": $grey,
);

$theme-colors:map-merge($autoquiray-colors, $theme-colors);