/*Etiquetas*/
nav{
    background-color: #333;
    color: white;
    min-height: 50px;
    max-height: 50px;
}

ul{
    display: flex;
    flex: left;
    align-items: center;
    position: relative;
}

nav button{
    background: linear-gradient(to right, rgb(70, 70, 247), #af1de9);
    border-radius: 30px;
    height: 40px;
    padding: 10px;
    color: white;
    position: absolute;
    right: 10px;
    top: 6%;
}

nav li img{
    height: 40px;
    margin: 5px 0;
}

nav li h3, #services h2{
    margin-left: 20px;
    font-size: 20px;
    text-shadow: 3px 3px 3px rgba(110, 201, 255, 0.5),
                -3px -3px 3px rgba(110, 201, 255, 0.5),
                3px -3px 3px rgba(110, 201, 255, 0.5),
                -3px 3px 3px rgba(110, 201, 255, 0.5);
    font-weight: bold;
    font-family: arial;
}

header{
    padding: 10px 40px;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:70px;
}

h1 span{
    display: block;
    color: rgb(110, 201, 255);
    text-shadow: 3px 3px 3px rgba(30, 100, 160, 0.8),
                -3px -3px 3px rgba(30, 100, 160, 0.8),
                3px -3px 3px rgba(30, 100, 160, 0.8),
                -3px 3px 3px rgba(30, 100, 160, 0.8);     
}

hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, rgb(70, 70, 247), #af1de9);
  border-radius: 50px;
  width: 10%;
  margin-bottom: 30px;
}

h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
}

h3 span{
    color: rgb(110, 201, 255);
}

/*Clases*/
.color-green{
    color: greenyellow;
}

.color-blue{
    color: blue;
}

.color-purple{
    color: purple;
}

.stats{
    background-color: rgba(89, 106, 161, .6);
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(89, 106, 161);
    border-radius: 20px;
    flex: 1;
}

.stats .number{
    font-size: 40px;
}

.stats .info{
    font-size: 20px;
    color: darkgrey;
}


/*IDs*/
#caracteristicas{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

#caracteristicas h5{
    text-align: center;
    padding: 10px 20px;
    margin-right: 30px;
    border-radius: 30px;
}

#IAAdaptativa{
    background-color: rgba(0, 125, 197, 0.3);
    border: 1px solid rgb(0, 162, 255);
    color: rgb(0, 162, 255);
}

#analisis{
    background-color: rgba(175, 29, 233, 0.3);
    border: 1px solid rgb(207, 50, 255);
    color: rgb(207, 50, 255);
}

#botones button{
    background: linear-gradient(to right, rgb(70, 70, 247), #af1de9);
    border-radius: 15px;
    height: 60px;
    width: 200px;
    padding: 10px;
    color: white;
}

#stats_container{
    display: flex;
    margin: 30px 0;
}

#services{
    background: linear-gradient(to bottom, #222, #555);
    text-align: center;
}

#services .main-title{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}