.bg-linear-blue{
    background: linear-gradient(135deg, #0f172a 0%, #1e3a5f 50%, #0f172a 100%);
}

.nav-item, .rubik {
  font-family: "Rubik", sans-serif;
}

.footLogo{
    width: 100%;
    max-width: 300px;
}


@media (max-width: 600px){
    nav img{
        width: 150px;
    }
}

@media (min-width: 1200px) {
    .navbar .nav-link {
        position: relative;
    }

    .navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bs-green-btn);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    }

    .navbar .nav-link:hover::after {
        transform: scaleX(1);
    }
    .nav-buttons{
        min-width: 250px;
    }
}

@media (max-width: 1200px) {
    .navbar .nav-link{
        margin-left: 20px;
        padding-left: 5px;
        border-radius: 10px;
    }
    .navbar .nav-link:hover{
        background-color: rgba(255, 255, 255, .3);
    }
}