:root {
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
}

header{
    background: linear-gradient(135deg, #0f172a 0%, #1e3a5f 50%, #0f172a 100%);
}

svg{
    display:block; 
    width:100%; 
    height:100px;
}

.footDiv:first-child{
    max-width: 1000px;
}

.footDiv:nth-child(2){
    max-width: 1300px;
}

.footLogo{
    width: 100%;
    max-width: 300px;
}


.card img{
    height: 70px;
}

.arriba {
  transition: transform 0.3s ease;
}

.arriba:hover {
  transform: translateY(-5px);
}

#iniciarSesion{
    background-color: rgba(62, 68, 84, .5);
}
#iniciarSesion:hover{
    background-color: rgba(62, 68, 84, 1);
}

.btngreenLight:hover{
    box-shadow: 5px 5px 20px #0db07b,
    -5px -5px 20px #0db07b,
    5px -5px 20px #0db07b,
    -5px 5px 20px #0db07b;
}

.container{
    max-width: 600px;
}
.nav-item {
  font-family: "Rubik", sans-serif;
}

@media (min-width: 1200px) {
    .navbar .nav-link {
        position: relative;
    }

    .navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bs-green-btn);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    }

    .navbar .nav-link:hover::after {
        transform: scaleX(1);
    }
    .nav-buttons{
        min-width: 250px;
    }
}

@media (max-width: 1200px) {
    .navbar .nav-link{
        margin-left: 20px;
        padding-left: 5px;
        border-radius: 10px;
    }
    .navbar .nav-link:hover{
        background-color: rgba(255, 255, 255, .3);
    }
}

@media (max-width: 600px){
    nav img{
        width: 150px;
    }
}