button[data-bs-target="#reserves"]{
    height: 50px;
}

.modal-content {
    background-color: #f3f4f6;
    width: 100%;
    min-width: 400px;
    width: 420px;
}

.container-fluid{
    max-width: 1500px;
}

.badge{
    font-size: 16px !important;
}

.card.green{
    box-shadow: 1px 1px 0px var(--bs-green-btn),
    1px -1px 0px var(--bs-green-btn),
    -4px 1px 0px var(--bs-green-btn),
    -4px -1px 0px var(--bs-green-btn);
}

.card.yellow{
    box-shadow: 1px 1px 0px var(--bs-yellow),
    1px -1px 0px var(--bs-yellow),
    -4px 1px 0px var(--bs-yellow),
    -4px -1px 0px var(--bs-yellow);
}

@media (max-width: 768px) {
    button[data-bs-target="#reserves"]{
        width: 100%;
    }
}