main div.container-fluid, main.container-fluid{
    max-width: 1200px;
}

.custom-radio {
    width: 20px;
    height: 20px;
    border: 2px solid #cbd5e1;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.btn-check:checked + .custom-option {
    background-color: #f0fdfa;
    border-color: #34d399;
}

.btn-check:checked + .custom-option .custom-radio {
    border-color: #34d399;
}

.btn-check:checked + .custom-option .custom-radio::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #34d399;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}