footer li a{
    color: var(--bs-grey) !important;
}

footer li a:hover{
    color: var(--bs-green) !important;
}

.bg-linear-blue{
    background: linear-gradient(135deg, #0f172a 0%, #1e3a5f 50%, #0f172a 100%);
}

.nav-item, .rubik {
  font-family: "Rubik", sans-serif;
}

.footLogo{
    width: 100%;
    max-width: 300px;
}

.btngreenLight:hover{
    box-shadow: 5px 5px 20px #0db07b,
    -5px 5px 20px #0db07b;
}

.form-control:focus, .form-select:focus {
  border-color: var(--bs-green-btn);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.arriba {
  transition: transform 0.3s ease;
}

.arriba:hover {
  transform: translateY(-5px);
}

#bigNav #actualPg::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--bs-green-btn);
    transform: none;
    transform-origin: none;
    transition: none;
}

@media (max-width: 600px){
    nav img{
        width: 150px;
    }
}

@media (min-width: 1200px) {
    .navbar .nav-link {
        position: relative;
        margin: 0 5px;
    }

    .navbar .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: var(--bs-green-btn);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    .navbar .nav-link:hover::after {
        transform: scaleX(1);
    }
    .nav-buttons{
        min-width: 250px;
    }
}

@media (max-width: 1200px) {
    .navbar .nav-link{
        margin-left: 20px;
        padding-left: 5px;
        border-radius: 10px;
    }
    .navbar .nav-link:hover{
        background-color: rgba(255, 255, 255, .3);
    }
}