.container{
    max-width: 1200px;
}

.icon{
    width: 48px;
    height: 48px;
}

.table-container {
  border-radius: 1rem;
}

.student-avatar {
  width: 40px;
  height: 40px;
  font-size: 0.9rem;
}

.progress-wrapper {
  height: 8px;
}

.progress-bar-custom {
  height: 8px;
}

.progress-80 {
  width: 80%;
}

.progress-60 {
  width: 60%;
}