@import "/autoquiray/public/node_modules/bootstrap/scss/_functions";
@import "/autoquiray/public/node_modules/bootstrap/scss/_variables";
@import "/autoquiray/public/node_modules/bootstrap/scss/mixins";

@import "/autoquiray/resources/scss/variables.scss";

@import "/autoquiray/public/node_modules/bootstrap/scss/bootstrap";

.bg-opacity-90 { 
    --bs-bg-opacity: 0.9;
}