@import "./../../../node_modules/bootstrap/scss/_functions";
@import "./../../../node_modules/bootstrap/scss/_variables";
@import "./../variables.scss";
@import "./../../../node_modules/bootstrap/scss/mixins";

.card-flex {
  flex: 0 0 100%;
  max-width: 100%;

  &.ventajas{
    @include media-breakpoint-up(md) {
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }

    @include media-breakpoint-up(xl) {
        flex: 0 0 calc(25% - 1rem);
        max-width: calc(25% - 1rem);
    }
  }

  &.data{
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);

    @include media-breakpoint-up(md){
        flex: 0 0 calc(25% - 1rem);
        max-width: calc(25% - 1rem);
    }
  }
}


.cards-flex {
  width: 100%;
}