:root {
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
}

svg{
    display:block; 
    width:100%; 
    height:100px;
}

.footDiv:first-child{
    max-width: 1000px;
}

.footDiv:nth-child(2){
    max-width: 1300px;
}

.card img{
    height: 70px;
}

#iniciarSesion{
    background-color: rgba(62, 68, 84, .5);
}
#iniciarSesion:hover{
    background-color: rgba(62, 68, 84, 1);
}

.container{
    max-width: 600px;
}