$navbar: #3e4454;
$green-btn: #0db07b;
$green: #34d399;
$main: #f0f0f0;
$footer: #1e293b;

$autoquiray-colors: (
    "navbar": $navbar,
    "green-btn": $green-btn,
    "main": $main,
    "purple": $purple,
    "blue": $blue,
    "orange": $orange,
    "footer": $footer,
    "green": $green,
);

$theme-colors:map-merge($autoquiray-colors, $theme-colors);